<ng-container *ngIf="!(isLoading|async); else loading">
  <div class="ui relaxed divided list">
    <div class="item" *ngFor="let f of feature | async">
      <div class="content">
        <p class="header">{{ f.key }} {{ f.summary }} <a href="https://jira.swisscom.com/browse/{{f.key}}" target="_blank"><i class="info icon"></i></a></p>
        <div class="description" style="margin-top: 10px">
          <app-state-step [history]="f.histories" [created]="f.created"></app-state-step>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<br>
<br>
<br>
<!--
<div class="fluid ui animated button" tabindex="0">
  <div class="visible content">Show more results</div>
  <div class="hidden content">
    <i class="right plus icon"></i>
  </div>
</div>
-->
<ng-template #loading>
  <div class="ui big active centered inline text loader" style="margin-top: 15%">Loading feature...</div>
</ng-template>
