<div class="ui relaxed divided list" >
  <div class="ui item">
    <div class="content">
      <p class="header ui placeholder">&nbsp;</p>
      <div class="description ui placeholder" style="margin-top: 10px">
        <div class="ui mini steps">
          <div class="step">
            <div class="content">
              <div class="title ui placeholder" style="width: 60px">&nbsp;</div>
              <div class="description ui placeholder">&nbsp;</div>
            </div>
          </div>
          <div class="step">
            <div class="content">
              <div class="title ui placeholder" style="width: 60px">&nbsp;</div>
              <div class="description ui placeholder">&nbsp;</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
