<div class="ui two column centered grid" style="padding-top: 10%;">
  <div class="column" style="border: 1px solid grey">
    <div class="ui grid">
      <div class="four wide column">
        <h2 class="ui center aligned icon header" style="margin-top: 20px">
          <i class="circular chart line icon"></i>
          Jira Report
        </h2>
      </div>
      <div class="twelve wide column">
        <p>This is an experiment for the presentation of the Jira feature which was planned over two PI's.</p>
        <p>Currently only the OCEFEWLINE features are considered.</p>
        <h4>Reports</h4>
        <div class="ui relaxed divided list">
          <div class="item">
            <i class="large calendar times outline middle aligned icon"></i>
            <div class="content">
              <a class="header" routerLink="/pi">Program Increments</a>
              <div class="description">More than one Program Increments</div>
            </div>
          </div>
          <div class="item">
            <i class="large history middle aligned icon"></i>
            <div class="content">
              <a class="header" routerLink="/state">State History</a>
              <div class="description">Shows all features with the status</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
