<div>
  <div class="ui link cards">
    <ng-container *ngFor="let f of feature|async">
      <div class="card" *ngIf="f.fixVersion.length>0">
        <div class="content">
          <div class="header">{{f.key}}</div>
          <div class="meta">
            <a>{{f.summary}}</a>
          </div>
          <div class="description">
            <div class="ui vertical mini fluid steps">
              <div class="step">
                <div class="content">
                  <div class="title">{{f.fixVersion[0].from}}</div>
                  <div class="description">{{f.created | date: 'dd.MM.yyyy'}}</div>
                </div>
              </div>
              <div class="step" *ngFor="let fv of f.fixVersion">
                <div class="content">
                  <div class="title">{{fv.to}}</div>
                  <div class="description">{{fv.created | date: 'dd.MM.yyyy'}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

